{%- extends 'index.html' -%}
{%- block body -%}
<div class="espacio">
    <h1>Currículum Vitae</h1><a href="/curriculum/json"><button type="button" class="btn btn-primary">Json CV</button></a>
    <div class="row marketing ">
        <h2>Datos personales</h2>

        <div class="col-lg-6">
            <ul>

                <li><br></li>
                <li>Edad: 22 años</li>
                <li>Residencia: Gómez Palacio</li>
                <li>Correo: abdulhamid@outlook.com</li>

                <li>Sitios web:
                    <ul>
                        <li><a href="http://www.abdul.mx">www.abdul.mx</a></li>
                        <li><a href="http://www.pyheart.com">www.pyheart.com</a></li>
                    </ul>
                </li>
                <li><a href="/contacto"><button type="button" class="btn btn-primary" style="margin-top: 5px">Contáctame</button></a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <img class="img-thumbnail" id="imagen-abs" alt="imagen de abdul" src="../static/img/abs_face.jpg">
            <p>Abdul Hamid Achik López</p>
        </div>
    </div>

    <div class="row marketing">

        <div class="col-lg-4">
            <h3>Lenguajes</h3>
            <ul>
                <li>Python</li>
                <li>Ruby</li>
                <li>Html5 Css3</li>
                <li>Javascript</li>
                <li>Java</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3>Bases de datos</h3>
            <ul>
                <li>Mysql</li>
                <li>Postgres</li>
                <li>Sqlite</li>
                <li>Mongo</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h3>Frameworks</h3>
            <ul>
                <li>Rails</li>
                <li>Flask</li>
                <li>Django</li>
                <li>Angularjs</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>
    <div class="row marketing">    
        <h2>Objetivo</h2>
        <p>Participar activamente en el desarrollo de proyectos web asi como trabajar en los entornos adecuados
        que me permitan desarrollarme profesionalmente.</p>
    </div>
     <div class="row marketing">
         <div class="col-lg-6">
            <h3>Habilidades</h3>
            <ul>
                <li>Autodidacta</li>
                <li>Dirección de proyectos</li>
                <li>Pasión por enseñanza</li>
                <li>Puntualidad</li>
                <li>Resolución de problemas</li>
                <li>Escucha activa</li>
            </ul>
        </div>
         <div class="col-lg-6">
            <h3>Áreas de intéres</h3>
            <ul>
                <li>Back-end development</li>
                <li>Front-end development</li>
                <li>Economía</li>
                <li>Politíca</li>
                <li>Matemáticas</li>
                <li>Docencia</li>
            </ul>
        </div>
    </div>
    <div class="row marketing">
    <h2>Experiencia laboral</h2>
        <ul>
            <li>Fomec ITESM: Verano 2013 - Elaboración de algunas capas para las bases de datos del SIGEL</li>
            <li>Metmex Peñoles: agosto 2013 a enero del 2013 - Sistema de información para la captura de datos</li>
            <li>Cadhaus: enero 2014 a junio del 2014 - Colaboración en revision de documentación </li>
        </ul>
    </div>

    <div class="row marketing">
    <h2>Proyectos<p class="text-muted" style="font-size: 0.5em"></p></h2>
        <ul>
            <li><a href="/sistema-cfe">Sistema de evaluacion de competencias hecho con angular.js</a></li>
        </ul>
    </div>

    <div class="row marketing">
    <h2>Estudios</h2>
        <ul>
            <li>ITESM Campus Laguna - Ingeniería en Tecnologías de la Información y Comunicación</li>
            <li>Universidad Autonoma de la Laguna - Preparatoria</li>
        </ul>
    </div>

    <div class="row marketing">
    <h2>Pasatiempos</h2>
       
            <p>Dedico mi tiempo a aprender nuevas tecnologias relacionadas con
            python y javascript, tambien leo mucho sobre temas socio-económicos,
            suelo hacer música cuando tengo mucho tiempo libre y se puede escuchar <a href="http://www.soundcloud.com/absprods">aquí</a>.</p>
    </div>
</div>
{%- endblock -%}
